<div class="outer-wrapper">
  <div class="left">
    <input type="text" class="search" placeholder="Search ..." [(ngModel)]="search">

    <div class="rooms" *ngFor="let room of rooms | roomsFilter: search">
      <div class="room">
        <div class="line">
          <div class="id">
            # {{room._id}}
          </div>
        </div>

        <div class="line">
          <div class="cell">
            <b>Title:</b> {{room.title}}
          </div>

          <div class="cell">
            <b>Game:</b> {{room.game}}
          </div>

          <div class="cell">
            <b>Status:</b> {{room.numberOfPlayers}} / {{room.maxPlayers}}
          </div>
        </div>

        <div class="line">
        </div>

        <div class="line">
          <button>Join</button>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <form action="" #roomForm="ngForm" (ngSubmit)="createRoom(title, maxPlayers, game)">
      <div class="line">
        <input type="text" placeholder="Title" [(ngModel)]="title" name="title">
      </div>

      <div class="line">
        <input type="text" placeholder="Max players" [(ngModel)]="maxPlayers" name="maxPlayers">
      </div>

      <div class="line">
        <input type="text" placeholder="Game" [(ngModel)]="game" name="game">
      </div>

      <div class="line">
        <button type="submit">
          <a href="room">Submit</a>
        </button>
      </div>
    </form>
  </div>
</div>
