<div class="outer-wrapper">
  <div class="image"></div>

  <form action="" class="form" #signupForm="ngForm" (ngSubmit)="signup(signupForm.value.username, signupForm.value.password)" novalidate>
    <div class="line">
      <input type="text" placeholder="username" name="username" [(ngModel)]="username">
    </div>

    <div class="line">
      <input type="password" placeholder="password" name="password" [(ngModel)]="password">
    </div>

    <div class="line center">
      <button type="submit">
        Done
      </button>

      <button (click)="router.navigate(['/'])" type="button">
        Cancel
      </button>
    </div>
  </form>
</div>
